@model PharmacyDeliverySystem.Models.Pharmacy

<h2>Add New Owner/Admin</h2>

<form asp-action="AddOwner" method="post">
    <div>
        <label>Pharmacy Name</label>
        <input asp-for="Name" />
    </div>
    <div>
        <label>Licence Number</label>
        <input asp-for="LicenceNo" />
    </div>
    <div>
        <label>Tax ID</label>
        <input asp-for="TaxId" />
    </div>
    <button type="submit">Add Owner/Admin</button>
</form>
